/* INDIVIDUAL BLOG-STYLE */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,900&display=swap');
@import 'normalize.css';
@import 'homepage.css';
@import 'post.css';


/* General Elements */

body {
  background-color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #333333;
  padding: 10px;
}

h1 {
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  text-align: center;
}

h2 {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}

h3 {
  font-weight: 100;
  font-size: 30px;
  margin: 30px 10px;
}

h4 {
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
}

time {
  font-weight: 100;
  font-size: 20px;
}

p {
    line-height: 1.5em;
}

figure {
  margin: 0;
}

figcaption {
  margin: 10px 10px 30px;
  font-weight: 100;
}

main div figure figcaption {
  margin: 10px 0px 30px;
}

img {
    max-width: 100%;
    min-height: auto;
}

a {
  color: #2D9CDB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #045BC0;
}

aside div.card {
  background-color: #EAF7FF;
}

aside div.card h3 {
  margin: 20px 10px 30px;
}

footer.card p {
  text-align: center;
}


/* Classes used on all pages */

.lead {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.card {
    border-style: solid;
    border-width: 0.5px;
    border-color: #BDBDBD;
    background-color: white;
    padding: 20px 15px;
    margin: 10px;
}

.readmore::before{
  content: '\1433';
  padding-right: 10px;
  display:inline-block;
}

.readmore:hover::before{
  text-decoration: none;
}


/* Styles for tablet or min-width: 576px */

@media(min-width:576px) {

  .articles {
    display: flex;
    flex-wrap: wrap;
  }

  article.card {
    width: calc(50% - 52px);
  }

  aside div div div{
    width: 50%;
    margin: 10px;
  }

  aside div div div p{
    margin-top: 0px;
  }

}


/* Styles for desktop or min-width: 1200px */

@media(min-width:1200px){

  .grid-container-homepage {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "header header header"
    "content content sidebar"
    "footer footer footer"
  }

  aside.aside-homepage {
    margin-top: 94px;
  }

  aside.aside-homepage div.card h3 {
    margin: 0 0 30px;
  }

  .aside-about-us-homepage {
    display: block;
  }

  aside.aside-homepage div div div{
    width: 100%;
    margin: 0px;
  }

  aside.aside-homepage div div div p{
    margin-top: 10px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 1200px;
  }

}
