/* Individual Blog-Style */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,900&display=swap');

body {
  background-color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #333333;
}

h1 {
  font-weight: 900;
  font-style: italic;
  font-size: 70px:
}

h2 {
  font-weight: 100;
  font-size: 50px;
}

h3 {
  font-weight: 100;
  font-size: 30px;
}

h4 {
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
}

time {
  font-weight: 100;
  font-size: 20px;
}

.lead {
  font-weight: 300;
  font-size: 20px;
}

.card {
    border-style: solid;
    border-width: 0.5px;
    border-color: #BDBDBD;
    background-color: white;
    padding: 20px 15px;
}

.card img {

}

p {
    line-height: 1.5em;
}

a {
  color: #2D9CDB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #045BC0;
}

.readmore::before{
  content: '\1433';
  padding-right: 10px;
  display:inline-block;
}

.readmore:hover::before{
  text-decoration: none;
}

.backtooverview::before{
  content: '\1438';
  padding-right: 10px;
  display: inline-block;
}

.backtooverview:hover::before{
  text-decoration: none;
}
